{
    "env": {
        "browser": true,
        "node": true
    },

    "globals": {
        "React": true
    },

    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    },

    "parser": "babel-eslint",

    "plugins": [
        "react"
    ],

    "extends": "eslint-config-google",

    "rules": {
      "react/jsx-uses-react": "error",
      "react/jsx-uses-vars": "error",
    }
}
